.statelines {
	stroke: #777;
	stroke-width: 1;
}

.states {
    fill: none;
    stroke: #777;
    stroke-width: 0.5;
    stroke-linejoin: round;
}

.states:hover {
	/***
	stroke: #333;
	stroke-width: 1.5;
	***/
}

.hover {
	fill: none;
}

.land {
    fill: #eee;
}

.axis line,
.axis path {
	fill: none;
	stroke: #444;
}

.axis {
	font-size: 10px;
}

.bar rect {
	stroke: #fff;
	shape-rendering: crispEdges;
}

.bar rect.non-manufacturing {
	fill: #eee;
}

.bar rect.manufacturing {
	fill: rgb(253, 141, 60);
}

.bar:hover rect.manufacturing {
	fill: rgb(254, 178, 76);
}

.bar text {
	font-size: 12px;
	text-color: #ccc;
}

.modal-footer {
	clear: both;
}

#legend {
	padding: 1.5em 0 0 1.5em;
}

li.key {
	border-top-width: 15px;
	border-top-style: solid;
	font-size: .75em;
	width: 10%;
	padding-left: 0;
	padding-right: 0;
}
